

.nav-navbar-nav{
display: flex;
justify-content: space-between;
gap: 20px;

}


.listtt{
  display: flex;
  margin-top: 44px;
  gap: 33px;
  list-style-type: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  

}
a{
  text-decoration: none;
}

.flexslider {
	padding:0;  
	background: #fff; 
	position: relative; 
	zoom: 1;
}
